PORT=6100
MONGO_URI= mongodb+srv://SaasEcommerce:asjdnjdks@sdjcskdjc.jsdbcjksd.mongodb.net/Flipkart
BCRYPT_SALT=10
JWT_SECRET=jksdnckldsvnjvkdfvkns.csdsknkv
JWT_REFRESH_SECRET=jkcnsldvnlsdskcnsdlvbdvk.snlkvnsdkvdsjknlkwhcuwe